


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    line-height: 1.6;
}

main {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #000;
}

.divprincipal {
    display: flex;
    align-items: center;
}

.divesquerda {
    flex: 2;
    padding-right: 30px;
}

.divdireita {
    flex: 1;
    text-align: center;
}

.divdireita img {
    width: 200px;
    height: 400px;
    object-fit: cover;
    
}

h1.blue {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 600;
}

.divesquerda p {
    margin-bottom: 25px;
    font-size: 1.1em;
    text-align:justify;
  
}

a {
    display: inline-block;
    padding: 12px 25px;
    margin-right: 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #666;
    font-size: 0.9em;
}

/* Media Queries para Responsividade */

@media (max-width: 768px) {
    .divprincipal {
        flex-direction: column;
        align-items: center;
    }

    .divesquerda, .divdireita {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .divdireita {
        margin-top: 30px;
    }

    .divdireita img {
        width: 120px;
        height: 120px;
    }

    a {
        margin: 10px 5px;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    h1.blue {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}
